*{
    box-sizing: border-box;
    margin:0;
    font-family: 'Hanken Grotesk', sans-serif;
  }
  html{
    font-size: 16px;
  }
  body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    border-radius: 35px;

  }
  main section{
    max-width: 400px;
    width: 100%;
  }
  .overall{
    background: linear-gradient(to top, hsl(241, 81%, 54%),hsl(252, 100%, 67%));
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap:1rem;
    border-radius: 0px 0px 35px 35px;
    padding-bottom: 1.5rem;
  }
  #o-title{
    font-size: 1em;
    width: 60%;
    margin-top: 1.5rem;
    color:hsl(241, 100%, 89%)
  }
  #circle{
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    clip-path: circle();
    color:hsl(241, 100%, 89%);
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    padding: 1.5em;
  }
  #circle span{
    font-weight: 800;
    font-size: 2.5rem;
    color: white;
  }
  .overall div:nth-child(3){
    color: white;
    width: 60%;
  }
  .overall div:nth-child(3) p{
    color:hsl(241, 100%, 89%);
    margin-top: 0.5rem;
    font-size: 0.85rem;

  }
  .overall div:nth-child(3) h2{
    font-size:1.25rem;
    font-weight: 500;
  }
  .summary{
    flex: 1 1 auto;
  }

  .summary h2{
    width: 90%;
    color: hsl(224, 30%, 27%);
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  #flex-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    justify-content: space-around;
    align-items: center;
    gap:10px
  }
  .item{
    font-size: 0.85rem;
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-radius: 0.5rem;
  }
  .item div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item div h4{
    display: inline;
    margin-left:.5rem
  }
  .item p{
    font-weight: 600;
  }
  .item p span{
    color: rgba(1, 1, 1, 0.4);
  }

  .react{
    background-color: hsla(0, 100%, 67%, 0.1);
  }
  .react div{
    color:hsla(0, 100%, 67%);
  }
  .mem{
    background-color: hsla(39, 100%, 56%, 0.1);
  }
  .mem div{
    color: hsla(39, 100%, 56%);
  }
  .verb{
    background-color: hsla(166, 100%, 37%, 0.1);
  }
  .verb div{
    color: hsla(166, 100%, 37%);
  }
  .visu{
    background-color: hsla(234, 85%, 45%, 0.1);
  }
  .visu{
    color: hsla(234, 85%, 45%);
  }
  #button{
    font-size: 0.85rem;
    font-weight: 600px;
    text-align: center;
    color: white;
    background-color:hsl(224, 30%, 27%);
    width: 85%;
    border-radius: 2rem;
    padding: 1em 0;
    margin-top: 0.5em;
  }
  #button:hover{
    background: linear-gradient(to top,#322EF0,#6643FF );
  }
@media (min-width:600px){

html{
    font-size: 18px;
  }
main{
  flex-direction: row;
  justify-content: center;
  gap:0.5rem;
  width: 90vw;
  margin: 0 5vw;
}
.overall{
  border-radius: 35px;
  gap:2.5rem;
}
main section{
  max-width: 300px;
}
#flex-box{
  gap:0.75rem
}
#button{
  padding: 0.7em;
  margin: 1em 0em;
}
.item{
  padding: 0.5rem;
}


}